.form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}

.input {
  &Container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &Label {
    font-size: 14px;
    font-weight: 700;
  }

  &Field {
    padding: 5px;
    margin-bottom: 10px;

    border: 1px solid var(--gray-color);
    border-radius: 10px;
  }
}